@import "colors.scss";

@font-face { font-family: "RobotoL"; src: url("fonts/Roboto-Light.ttf"); }
@font-face { font-family: "RobotoM"; src: url("fonts/Roboto-Medium.ttf"); }
@font-face { font-family: "Shrik"; src: url("fonts/Shrikhand-Regular.ttf"); }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "RobotoM";
    background-color: $grey-color;
    padding-top: 75px;
}

h1{
    font-family: "Shrik";
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.t-ou{
    border: solid 1px grey;
}