@import "../assets/globals.scss";
@import "../assets/colors.scss";

header{
    &{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        background-color: white;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }
    a{
        position: absolute;
        left: 20px;
        font-size: 20px;
        color: $footer-color;
    }
}